@import "./utils";
@import "./typography";
@import "./blocks/header";
@import "./blocks/top-bar";
@import "./blocks/icon";
@import "./blocks/page";
@import "./blocks/menu";
@import "./blocks/nav";
@import "./blocks/losung";
@import "./blocks/about";
@import "./blocks/shop";
@import "./blocks/rotate";
@import "./blocks/creators";
@import "./blocks/ayurvedic";
@import "./blocks/contacts";
@import "./blocks/footer";

body {
  background: rgba(228, 223, 211, 1);
  overflow-x: hidden;

}

* {
  margin: 0;

}

a, button {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;


  &:hover {
    color: #5c9d2d;
    border-color: #8C5E34;
  }

  button:hover {
    background-color: lighten(#8C5E34, 20%);
  }


  a:hover {
    background-color: transparent;
  }
}


